.fb{
            
            height:22px;
            width: 250px;
            text-align:center;
            padding:10px;
            padding-bottom:6px;
            margin:auto;
            font-family: Arial, Helvetica, sans-serif;
            font-size:15px;
            margin-bottom:10px;
            background-color:#4655fc ;
            border-radius:8px;
            
        }
        .fblogin{
            color:white;
            text-decoration:none;
            font-weight:bold;
            font-size:small;
            padding-bottom:15px;
            
        }
        .fb:hover{
            background-color: #394bf4;

        }
        .container{
            width: 300px;
            height: 590px;
            border: solid 1px rgb(185,184,184);
            margin:auto;
            text-align: center;
            border-radius: 2px;
            padding: 20px;
            margin-top: 10px;
        }
        .para{text-align:center;
            font-family:Arial, Helvetica, sans-serif;
            font-size: medium;
            color: grey;
            padding-top:0px;
            padding-left:15px;
            padding-right:15px;
            
        }
        input{
            width: 250px;
            height:35px;
            margin-top:12px;
            border:solid 1px rgb(185,184,184);
            border-radius:5px;
            padding-left:10px;
            background-color:#f4f1f1;
        }
        .btn{
            width: 260px;
            height: 40px;
            margin-top :10px;
            padding-left:10px;     
            padding: 10px;
            background-color:#3441AF;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            text-align:center;
            
        }
        .signup{
            width: 320px;
            height: 40px;
            border: solid 1px rgb(185,184,184);
            margin:auto;
            text-align: center;   
            border-radius: 2px;
            padding:10px;
            margin-top:14px;

        }
        .separator{
            margin-top:15px;
            

           display:flex; 
        }
        hr{
          width:110px; 
          

        }
        .or{
            color:grey;
             font-family:Arial, Helvetica, sans-serif;
             font-size:small;
             font: weight 500px;

        }
        .para1{
            /* padding:10px; */
            text-align:center;
            font-family:Arial, Helvetica, sans-serif;
            font-size:small;
            width:280px;
            margin-left: 10px;
        }
        .learnm{
        color:#003AD6;
        text-decoration:none ;
        
        }
        .para2{
            /* padding-top: 0px; */
            /* padding:10px; */
            text-align:center;
            font-family:Arial, Helvetica, sans-serif;
            font-size:small

        }
        .div2{
            height:60px;
            width:340px;
            text-align:center;
            border: solid 1px rgb(185,184,184);
            margin:auto;
            margin-top: 10px;
            padding-top:15px;
            font-family:Arial, Helvetica, sans-serif;
            font-size:small;  
            line-height:1.2;  
        }
        .lgn{
            font-family:Arial, Helvetica, sans-serif;
            text-decoration :none;
            font-size: small;
            color:#003AD6;
            font-weight:700;
            margin-top: 10px;
            font-family:Arial, Helvetica, sans-serif;

            
        }
        .lgn2{
            margin-top:10px;
            
        }
