.container{
    margin-top:200px;
    width:370px;
    height:290px;
    background-color: white;
    margin:auto;
    box-shadow: 2px 5px 2px rgb(234, 225, 225);
    text-align: center;
    padding: 12px;
    border-radius: 6px;
}
.h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:large;

}
.form-control{
    width:300px;
    height:42px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border:solid 1px rgb(202,200,200)
}
.btn{
    width:320px;
    height:42px;
    padding-left: 15px;
    margin-top: 12px;
    border-radius: 5px;
    background-color:rgb(63, 63, 244) ;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom:20px;
    

}
.links{
    display:block;
    width:100%;
    margin-top:5px;
}

.a{
    font-family: Arial, Helvetica, sans-serif;
}
.link:hover{
    text-decoration:underline ;
   
}
.link{
    text-decoration: none;
}
