.container{
    
    margin-top:5px;
    width:400px;
    height:570px;
    padding-top:7px;
    background-color: rgb(245, 245, 245);
    margin:auto;
    box-shadow: 2px 5px 2px rgba(227, 227, 227, 0.986);
    text-align: center;   
    border-radius: 6px;
}
.creatediv{
    margin-top:5px;
    font-family: Arial, Helvetica, sans-serif;

}
.fname{
    margin-top:15px;
}
.form-controller{
    height:35px;
    width:200px;
    margin-left:12px;
    border-radius: 4px;
     border:solid 1px rgb(202,200,200);
     text-align:left;
     
}
.smalltxt{
     text-align:left;
     padding-left:12px;
     font-family:Arial, Helvetica, sans-serif;
     font-size:11px;
     color: rgb(98, 98, 98);
     
}
.smalllink{
    
     
     font-family:Arial, Helvetica, sans-serif;
     /* font-size:smaller; */
     color:#3D77F2;
     text-decoration:none ;
     text-align: left;

}
.date-controll{
    width:118px;
     border-radius: 4px;
    height:35px;
    margin-left:12px;
    border:solid 1px rgb(202,200,200);

}
.gen-style{
    height:30px;
    border:solid 1px rgb(202,200,200);
    width:112px;
    padding-left:5px;
    margin-left:12px;
    background-color: white;
    border-radius: 4px;
    padding-top:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    
}.input{
    margin-top:10px;
    height:35px;
    width:100%;
    border-radius: 4px;
    border:solid 1px rgb(202,200,200) ;
    
}
.smalllink:hover {
    text-decoration: underline;
}
.btn{
    width:200px;
    height:36px;
    background-color: #119F16;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;

}
